*{
    box-sizing: border-box;
}
body{
    background-color: #f1e8e8;
}
#head{
    color: rgba(174, 30, 210, 0.614);
    
}
#head::first-letter{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(38, 255, 0);
    font-size: 60px;
}
@media all and (min-width:800px){
    .img{
        height: 300px;

    }
}
#box{
    margin-left: 2px;
}
.btn{
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    bottom: 20px;
    width: 130px;
    color: tomato;
}

.dessert{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.count-show{
    background-color: #fff;
    width: 130px;
    padding: 8px 7px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* left: 156px; */
    text-align: center;
    border: 1px solid rgb(79, 23, 191);
    bottom: 24px;
}
.count-hide{
    display: none;
}
.dish{
    color: gray;
}
.dish-price{
    color: tomato;
}
p{
    font-weight: 900;
}
.list{
    line-height: 10px;
}
.item-cart{
    background-color: #f7f1f5;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  
}
.box2{
    background-color: #f7f1f5;
}
.cart-head{
    padding: 30px 0px 50px 20px;
    align-self: self-start;
    color: rgb(210, 49, 21);
}
.empty-img{
    text-align: center;
    width: 210px;
    display: block;
}
.text{
    color: rgb(210, 167, 210);
    text-align: center;
    display:block ;
}
.hide{
    display: none;
}
.list-dish{
    display: flex;
    /* flex-direction: row; */
    margin: 10px 0px 0px 20px;
    justify-content: space-between;
}
.dish-detail{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 15px;
}
.btn-close{
    border: 1px solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin:10px 30px 0px 0px;
}
.dcount{
    color: red;
}
.rate,.addrate{
    color: gray;
    font-weight: 500;
    font-size: 13px;
   
}
#carbon-neutral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0px;
}
#carbon-neutral p{
    font-weight: 400;
    padding-top: 15px;
    
}
#order-btn-div{
    text-align: center;
}
#order-btn{
    text-align: center;
    width: 80%;
}
.total-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px 0px 20px;
}
.total{
    color: gray;
}
.total-order h5{
    margin-right: 5%;
}
.box3{
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderpase{
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    
}
.box3:hover  body{
    background-color: grey;
}
#button{
    margin-top: 50px;
    background-color: tomato;
    color: white;
}
#showorder{
    background-color: #f4d3e8;
    border-radius: 10px;
}
.hided{
    background-color: #f4d3e8;
}
.hide-cart{
    display: none;
}